{{ partial "header.html" . }}
<section class="section is-medium">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-half">
                <h1 class="title is-size-1">
                    sjmoll<br>
                    purrito
                </h1>
                <div class="content">
                    <ul class="no-list is-size-4">
                        <li>(personal) builder</li>
                        <li>klein en fijn, zacht en puur</li>
                        <li>graphic design</li>
                        <li>zero waste &ndash; no plastic &ndash; sustainability</li>
                        <li>minimalist</li>
                        <li>durable (work)conditions</li>
                        <li>plantmom</li>
                        <li>animallover</li>
                        <li>second hand</li>
                        <li>(mental) health</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure>
                    <img src="/img/emma_suy_headshot.webp">
                </figure>
            </div>
            <div class="column">
                <h2 class="is-size-4">contacteer mij</h2>
                <div class="content">
                    <p>
                        ik sta open voor
                    </p>
                    <ul>
                        <li>een uitdaging</li>
                        <li>dingen die ik nog niet ken</li>
                        <li>dingen die ik nog niet gedaan heb</li>
                        <li>bijleren</li>
                        <li>tegenslagen (als erna zonneschijn komt)</li>
                        <li>zoektochten naar verbetering</li>
                        <li>evolutie</li>
                    </ul>
                    <p>
                        <a href="mailto:s.emmatje@gmail.com">s.emmatje@gmail.com</a>
                    </p>
                    <p>
                        <a hre="sms:+32475334966">0475334966</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/sjmoll_purrito">instagram</a>
                    </p>
                    <p>
                        <a href="/emma_suy.pdf">curriculum vitae</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}